.page {
  background-color: @basic_white;
}

.page__body {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  min-width: @modile_width;
  .font-normal;
  font-size: 18px;
  line-height: 27px;
  color: @basic_gray;
  background-color: @basic_white;

  // outline: 1px solid purple;
  // outline-offset: -1px;
}

.main__h2 {
  .font-bold;
  font-size: 1.35em;
  line-height: 1.5em;

  @media (min-width: @modile_xl_width) {
    font-size: 1.5em;
  }

  @media (min-width: @tablet_width) {
    font-size: 1.65em;
  }

  @media (min-width: @laptop_width) {
    font-size: 1.8em;
  }

  @media (min-width: @desktop_width) {
    font-size: 2em;
  }
}
