// colors
@basic_white: #ffffff;
@basic_black: #000000;
@basic_gray: #434B53;
@basic_pink: #F4BCD4;
@basic_blue: #598FFC;

// viewports
@modile_width: 320px;
@tablet_width: 768px;
@laptop_width: 1024px;
@desktop_width: 1440px;
@mobile_width_only: 767px;
@tablet_width_only: 1023px;
@laptop_width_only: 1439px;

//fonts
.font-heading-1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.font-heading-2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.font-paragraph {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
