.main__portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%;
  margin: 0 auto;
  padding: 35px 0;

  @media (min-width: @tablet_width) {
    padding: 40px 0;
  }

  @media (min-width: @laptop_width) {
    width: calc(~'30% + 624px');
    padding: 45px 0;
  }

  @media (min-width: @desktop_width) {
    width: calc(~'35% + 763px');
    padding: 60px 0;
  }
}

.portfolio__heading {
  width: 100%;
  text-align: center;
  color: @basic_blue;
  margin: 0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 25px 0 0 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet_width) {
    margin: 30px 0 0 0;
  }

  @media (min-width: @laptop_width) {
    margin: 35px 0 0 0;
  }

  @media (min-width: @desktop_width) {
    margin: 45px 0 0 0;
  }
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.portfolio__item:not(:nth-child(1)) {
  margin: 25px 0 0 0;
}

.portfolio__h3 {
  margin: 0;

  .font-bold;
  font-size: .9em;
  line-height: 1.3em;
  color: @basic_gray;
  text-align: justify;

  @media (min-width: @modile_xl_width) {
    font-size: 1.1em;
    line-height: 1.35em;
  }
}

.portfolio__text {
  margin: 20px 0 0 0;

  .font-normal;
  font-size: .9em;
  line-height: 1.3em;
  color: @basic_gray;
  text-align: justify;

  @media (min-width: @modile_xl_width) {
    font-size: 1.1em;
    line-height: 1.35em;
  }
}

.portfolio__slider {
  width: 100%;
  height: 320px;
  margin: 20px auto 0;
  overflow: visible;

  @media (min-width: @modile_xl_width) {
    height: 350px;
  }
}

.portfolio__mask {
  overflow: hidden;
  height: 100%;
}

.portfolio__slider-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__slider-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 320px;
  left: -100%;

  @media (min-width: @modile_xl_width) {
    height: 350px;
  }
}

.portfolio__slider-item--image-mobile {
  animation: cycle 12s linear infinite;
}

.portfolio__slider-item--image-tablet {
  animation: cycle2 12s linear infinite;
}

.portfolio__slider-item--image-desktop {
  animation: cycle3 12s linear infinite;
}

.portfolio__slider:hover portfolio__slider-item {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    left: 0px;
  }

  17% {
    left: 0px;
  }

  29% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }

  33% {
    left: 100%;
    opacity: 0;
    z-index: 0;
  }

  34% {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }

  96% {
    left: -100%;
    opacity: 0;
  }

  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    left: -100%;
    opacity: 0;
  }

  29% {
    left: -100%;
    opacity: 0;
  }

  33% {
    left: 0px;
    opacity: 1;
  }

  62% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }

  66% {
    left: 100%;
    opacity: 0;
    z-index: 0;
  }

  67% {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }

  100% {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    left: -100%;
    opacity: 0;
  }

  62% {
    left: -100%;
    opacity: 0;
  }

  66% {
    left: 0px;
    opacity: 1;
  }

  94% {
    left: 0px;
    opacity: 1;
  }

  98% {
    left: 100%;
    opacity: 0;
    z-index: 0;
  }

  99% {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }

  100% {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }
}

.portfolio__image-mobile,
.portfolio__image-tablet {
  width: auto;
  height: 310px;

  @media (min-width: @modile_xl_width) {
    width: auto;
    height: 330px;
  }
}

.portfolio__image-desktop {
  width: 100%;
  height: auto;

  @media (min-width: @modile_xl_width) {
    width: 100%;
    height: auto;
    max-height: 330px;
    margin: 0 auto;
  }
}
